body{
    font-family: sans-serif !important;
    padding: 0% 0% 0% 0%;
    width: 100% !important;
    height: 100vh !important;
    display: inline !important;
    background-image: url("../Imagenes/fondo.png");
    background-size: 100% 80rem !important;
    background-repeat: no-repeat !important;
}

header{
    height: auto !important;
    width: auto !important;
    background-color: rgb(253, 253, 253) !important;
    padding-top: 0% !important;
    box-shadow: 0rem 0rem 2rem 0rem rgba(36, 35, 35, 0.8) !important;
}

.col-sm-6-logo{
    padding: 0% 0% 0% 0% !important;
}

.logo-img{
    height: 100% !important;
    padding: 4% 0% 5% 10% !important; 
    width: 28% !important;
}

.logo-wsp{
    height: 40% !important;
    width: 25% !important;
    margin: 8% 0% 0% 66% !important;
}

.logo-mj{
    height: 100% !important;
    width: 100% !important;
    text-align: center !important;
    margin: -15% 0% 0% 0% !important;
}

.logo-n{
    height: 28rem !important;
    width: 60rem !important;
    margin: 3% 0% 0% -20% !important;
}

.center-img{
    text-align: center !important;
}
.logo-w{
    height: 100% !important;
    width: 67% !important;
    margin-top: 3% !important;
}

.logo-w2{
    height: 100% !important;
    width: 40% !important;
}

.logo-p{
    height: 100% !important;
    width: 8% !important;
    margin: 3% 0% 3% 0% !important;
}

.div-form{
    margin: 0% 0% 0% 0% !important;
}

form{
    width: 33rem !important;
    height: 40rem !important;
    background: #fff !important;
    padding: 10% 0% !important;
    box-shadow: 0rem 0rem 1rem 0rem rgba(51, 48, 48, 0.8) !important;
    margin: 0% 0% 0% -15% !important;
    border-radius: 30px !important;
}

input[type="text"]{
    background: none !important;
    color: #c6c6c6 !important;
    font-size: 2rem !important;
    border-radius: 2rem !important;
    height: 4.5rem !important;
    width: 100% !important;
}

input[type="email"]{
    background: none !important;
    color: #c6c6c6 !important;
    font-size: 2rem !important;
    border-radius: 2rem !important;
    height: 4.5rem !important;
    width: 100% !important;
}

.mb-3{
    width: 380px !important;
    padding: 0% 15% 0% 15% !important;
    margin: 8px 0 !important;
}

.row.cel{
    padding: 0% 15% 0% 15% !important;
    height: 9% !important;
}

.btn-primary{
    background-color: #2439b6 !important;
    border-radius: 1rem !important;
    border-color: #2439b6 !important;
    width: 50% !important;
    height: 5rem !important;
    font-weight: bold !important;
    font-size: 2rem !important;
}

.mb-3{
    width: 100% !important;
    height: 3.5rem !important;
}

.form-control{
    border-color: rgb(29, 28, 28) !important;
}

.btn1{
    text-align: center !important;
}
@media screen and (max-width: 480px) {
    body{
        font-family: sans-serif !important;
        padding: 0% 0% 0% 0% !important;
        width: 100% !important;
        height: 100% !important;
        display: inline !important;
        background-image: url("../Imagenes/fondo.png");
        background-size: 100% 26rem !important;
        background-repeat: no-repeat !important;
    }
    
    header{
        height: auto !important;
        width: auto !important;
        background-color: rgb(253, 253, 253) !important;
        padding-top: 0% !important;
        box-shadow: 0rem 0rem 2rem 0rem rgba(36, 35, 35, 0.8) !important;
    }
    
    .col-sm-6-logo{
        padding: 0% 0% 0% 0% !important;
    }
    
    .logo-img{
        height: 100% !important;
        width: 30% !important;
        margin: 0% 0% 0% 60% !important;
    }
    
    .logo-wsp{
        height: 100% !important;
        width: 30% !important;
        text-align: center !important;
        margin: 0% 0% 0% 10% !important;
    }
    
    .logo-mj{
        height: 100% !important;
        width: 100% !important;
        text-align: center !important;
        margin: 0% 0% 0% 0% !important;
    }
    
    .logo-n{
        height: 100% !important;
        width: 100% !important;
        margin: 0% 0% 0% 0% !important;
    }
    
    .div-form{
        margin: 0% 0% 0% 0% !important;
    }
    
    form{
        width: 33rem !important;
        height: 40rem !important;
        background: #fff !important;
        padding: 10% 0% !important;
        box-shadow: 0rem 0rem 1rem 0rem rgba(51, 48, 48, 0.8) !important;
        margin: 0% 0% 0% -15% !important;
        border-radius: 30px !important;
    }
    
    input[type="text"]{
        background: none !important;
        color: #c6c6c6 !important;
        font-size: 2rem !important;
        border-radius: 2rem !important;
        height: 4.5rem !important;
        width: 100% !important;
    }
    
    input[type="email"]{
        background: none !important;
        color: #c6c6c6 !important;
        font-size: 2rem !important;
        border-radius: 2rem !important;
        height: 4.5rem !important;
        width: 100% !important;
    }
    
    .mb-3{
        width: 380px !important;
        padding: 0% 15% 0% 15% !important;
        margin: 8px 0 !important;
    }
    
    .row.cel{
        padding: 0% 15% 0% 15% !important;
        height: 9% !important;
    }
    .col-sm-7{
        margin: 6% 0% 0% 0% !important;
    }
    
    .btn-primary{
        background-color: #2439b6 !important;
        border-radius: 1rem !important;
        border-color: #2439b6 !important;
        width: 50% !important;
        height: 5rem !important;
        font-weight: bold !important;
        font-size: 2rem !important;
        margin: 8% 0% 0% 0% !important;
    }
    
    .mb-3{
        width: 100% !important;
        height: 3.5rem !important;
    }
    
    .form-control{
        border-color: rgb(29, 28, 28) !important;
    }
    
    .btn1{
        text-align: center !important;
    }
}